# System
.DS_Store
.env
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*
!example.tfvars
*.tfplan

# Ansible
.ansible/
inventory.yml
facts_cache/

# Crash log files
crash.log

# IDE
.vscode/
.vscode/*
.vscode-insiders/
.vscode-insiders/*
.vscodium/
.vscodium/*
.cursor/
.cursor/*
.cursor-settings.json
.cursor-config.json
.cursorignore
*.swap