# System
.DS_Store
.gitignore.d
.env
*.pem
*.key
*.pem.pub

# Benchmarks
benchmarks/finetuning/medAlpaca/
logs/
*.log
results/
*.csv
.venv

# Terraform
.terraform/
*.tfstate
*.tfstate.*
!example.tfvars
*.tfplan

# Ansible
.ansible/
inventory.yml
facts_cache/

# IDE
.vscode/
.vscode/*
.vscode-insiders/
.vscode-insiders/*
.vscodium/
.vscodium/*
.cursor/
.cursor/*
.cursor-settings.json
.cursor-config.json
.cursorignore
*.swap