# System
.DS_Store
.env

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
#*.tfvars # TODO: Uncomment?
!example.tfvars
*.tfplan

# Ansible files
inventory.yml

# Crash log files
crash.log

# Exclude sensitive files
*.pem
*.key